.nav-item {
  width: 100%;
  margin: 12px 0;
  font-size: 20px;
  border-bottom: 1px solid #0000005e;

  .nav-link {
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: space-between;
    color: #000;
    text-decoration: none;
    .nav-info {
      .nav-icon {
        padding-right: 4px;
      }
    }

    &:hover {
      .nav-chevron {
        display: block;
      }
    }
    .nav-chevron {
      display: none;
    }
  }
}